<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>Demon Eyese</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
    <style>
      #chart svg {
        height: 400px;
      }
    </style>
  </head>

  <body>
    <div id="chart">
      <svg></svg>
    </div>

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>

    <script type="text/javascript">
      const sin = [];
      const cos = [];

      for (let i = 0; i < 100; i++) {
        sin.push({ x: i, y: Math.sin(i / 10) })
        cos.push({ x: i, y: 0.5 * Math.cos(i / 10) })
      }

      const data = [
        {
          values: sin,
          key: '彭彥緯',
          color: '#ff7f0e'
        },
        {
          values: cos,
          key: '哈士奇',
          color: '#2ca02c'
        }
      ];

      nv.addGraph(() => {
        const chart = nv.models.lineChart()
          .useInteractiveGuideline(true);

        chart.xAxis
          .axisLabel('Time (hrs)')
          .tickFormat(d3.format(',r'));

        chart.yAxis
          .axisLabel('active (a)')
          .tickFormat(d3.format('.02f'));

        d3.select('#chart svg')
          .datum(data)
          .transition().duration(500)
          .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
      });
    </script>
  </body>
  </html>