<!DOCTYPE html>
<html>
  <head>
    <title>Simple styled maps</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <p>Welcome to demon eyes!!!</p>
    <script src="js/dist/bundle.js"></script>
  </body>
</html>
