html, body,
div, section, nav, header, main, footer,
h1, h2, h3, h4, h5, h6, p, a,
ul, ol, li, img, input, button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", Sans-Serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav {
  height: 70px;
  background-color: #111;
  overflow: hidden;
}

.nav li {
  display: inline;
  padding: 20px 25px;
  text-align: center;
  background-color: #111;
  float: left;
  transition-duration: .5s;
}

.nav li:hover {
  background-color: #ccc;
}

.nav li a {
  color: #fff;
  vertical-align: middle;
  font-size: 35px;
  transition-duration: .5s;
}

.nav li a:hover {
  color: #000;
}

.info {
  clear: both;
  height: 350px;
  background-color: #232323;
  color: #ddd;
  text-align: center;
  line-height: 350px;
}

.info h1 {
  font-size: 50px;
  vertical-align: center;
}