body{
	background-image : url("/images/the_VOid.gif");
	background-size : cover;
	background-repeat: no-repeat;
}

#main{
	width: 50%;
	margin-top: 350px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 500px;
	padding-top: 20px; 
  padding-left: 30px; 
  padding-right: 30px; 
  padding-bottom: 20px; 
	background: rgba(100%,100%,100%,0.15);
	background-position: center;
	display: block;
	border-radius: 10px;
}


.btn-close{
  background-color: hsla(0,0%,100%,0.23);
}
.btn-danger{
  color: #FFFFFF;
}

.btn-block{
  white-space: normal;
  width:20%;
}

.btn{
  border: hsla(0,0%,100%,0);
  padding: 10px 15px;
  margin-left: 350px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
}

button{
  font-family: inherit;
  text-transform: none;
  overflow: visible;
  margin: 0;
  font: inherit;
}


#text{
	width: 15%;
	margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 75px;
	padding-top: 5px; 
  padding-left: 15px; 
  padding-right: 15px; 
  padding-bottom: 5px;
  background: rgba(100%,100%,100%,0);
  display: block;
}

p{

	color: #FFFFFF;
	font-size: 1.4em;
	font-weight: bold;
}


